Build
build
VSBuild
Debug
Lib
Bin
bin
Docs/Latex
Testing/Tests
Testing/Runtime
Docs

clang
ninja
codeblocks
Source/External/curl/
Package/
codelite/
Docs/xml

Source/External/flac/src/include/config.h

CMakeUserPresets.json

syntax: glob

*.obj
ipch
*.suo
*.sdf
*.opensdf
.kdev_include_paths
#build

*.gen

# produced by doxygen
*.db
*.tmp

# ignore backup files
*.orig
*.backup

CMakeSettings.json
.vs
.vscode
GGE.code-workspace
syntax: regexp
.*\.kdev4(_.*)?

# ccls/emacs related
.ccls-cache
compile_commands.json
.directory
.cache
.git

# clion related
cmake-build-debug


Source/Gorgon/Game/bin/
Source/Gorgon/Game/build/
^\.idea/
